<div class="container">
    <div class="greetings-vid">
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="./../../../assets/videos/casino-background.mp4" type="video/mp4">
        </video>


        <div class="main-text">
            Welcome to our casino!
        </div>
        <div class="text">
            Here, you can enjoy a variety of games and experience the thrill of gambling. Your
            enjoyment is our top priority.
        </div>
        <img src="./../../../assets/images/welcome-guy.png" alt="">

    </div>
    <div class="greetings">
        <div class="text">
            In our casino, we believe in creating a vibrant and exciting atmosphere for all our players. We offer a wide
            range of games, from classic favorites to the latest releases, all designed to provide endless entertainment
        </div>
        <img src="./../../../assets/images/3people.png" alt="">
        <div class="text">
            We're not just about games - we're about experiences. In our casino, every spin, every card dealt, every
            roll of the dice is a chance for a memorable moment. We strive to make every visit an event to remember.
        </div>
        <img src="./../../../assets/images/grozny.png" alt="">
    </div>



</div>