<div class="background">
    <div class="container-new-user" *ngIf="getStartingBalance()==0">
        <div class="info">Choose Your Starting Balance</div>
        <div class="slider-output">${{newStartingBalance}}</div>



        <mat-slider min="100" [max]="getMaxStartingBalance()" step="100" value="1000" (change)="sliderChanged($event)">
            <input matSliderThumb [(ngModel)]="newStartingBalance">
        </mat-slider>
        <div class="ok-button" (click)="applyNewUser()">
            OK
        </div>
    </div>
    <div class="shop" *ngIf="shopOpened">

        <div class="shop-items">
            <div class="shop-item" *ngFor="let shopItem of shopItems">
                <div class="type">{{shopItem.type}}</div>
                <div class="name">{{shopItem.name}}</div>
                <div class="shop-item-price">{{shopItem.price}}</div>
                <div class="buy-button" (click)="buyItem(shopItem)" *ngIf="!shopItem.bought">UNLOCK</div>
            </div>
        </div>

        <div class="exit-button" (click)="toogleShopOpened()">EXIT</div>
    </div>

    <div class="container" *ngIf="getStartingBalance()!=0 && !shopOpened">

        <div class="profile-info">

            <div class="upper-section">


                <div class="profile-photo" [ngStyle]="{'background-image': 'url(' + profilePhotoSrc + ')'}"
                    (mouseover)="hover=true" (mouseout)="hover=false" (click)="openModalChangeProfilePhoto()">
                    <div class="change-profile-photo" [ngClass]="{'show': hover}">
                        <img src="./assets/images/gear.png">
                        <p>change profile picture</p>
                    </div>
                </div>
                <div class="name-wrapper">
                    <div class="name">{{this.name}}
                        <img src="./assets/images/gear.png" (click)="openModalChangeName()">
                    </div>
                    <div class="balance">${{getFormatedBalance()}}</div>
                </div>
                <div class="balance-wrapper">
                    <div class="starting-balance">Starting Balance: ${{getStartingBalance()}}</div>
                </div>
            </div>

            <div class="bottom-section">
                <div class="reset-btn" (click)="resetGame()">RESET</div>
                <div class="open-shop-btn" (click)="toogleShopOpened()">
                    <img src="/assets/images/shop.png" alt="">
                </div>
            </div>


        </div>

        <div class="stats">

            <div class="money-won">
                <div class="overall-stats">
                    <div class="games-profit">Overall profit: {{getProfit('all')}}</div>
                    <div class="games-money-won">Overall money won: ${{getMoneyWonOnGame('all')}}</div>
                    <div class="games-money-spent">Overall money spent: ${{getMoneySpentOnGame('all')}}</div>
                </div>

                <div class="games-money-won">
                    <div class="game" *ngFor="let game of games">
                        <div class="game-name">{{game.name}}</div>
                        <div class="money-won-on-game">won: ${{getMoneyWonOnGame(game.name.toLowerCase())}}</div>
                        <div class="money-lost-on-game">spent: ${{getMoneySpentOnGame(game.name.toLowerCase())}}</div>
                        <div class="profit-on-game">profit: {{getProfit(game.name.toLowerCase())}}</div>
                    </div>
                </div>

            </div>


            <div class="games-played">
                <div class="text">
                    Games played:
                </div>
                <div class="bottom">
                    <div class="games-played">Overall: {{getGamesPlayed('all')}}</div>
                    <div class="game" *ngFor="let game of games">
                        <div class="game-name">{{game.name}} : {{getGamesPlayed(game.name.toLowerCase())}}</div>

                    </div>
                </div>

            </div>
            <div class="points-wrapper">
                <div class="points">POINTS: {{formatNumber(updatePoints())}}
                    <div class="info-button" (click)="toogleInfoClicked()">
                        ?
                    </div>
                </div>
                <div class="current-multipler">
                    Current Multipler: x{{getCurrentMutipler()}} <br>
                    Multipler after reset: x{{getMultiplerAfterReset()}}
                </div>
                <div class="formula">
                    POINTS = (W/S) * M + 10*G<br>
                    W-money won<br>
                    S-starting balance<br>
                    M-current Multipler<br>
                    G-games played
                </div>


                <div class="info" *ngIf="infoClicked" (click)="toogleInfoClicked()">
                    <img src="/assets/images/rules.png" alt="">
                </div>
            </div>

        </div>


    </div>






    <div class="change-profile-photo-modal" *ngIf="changePhotoModal">
        <div class="photos">
            <div class="photo" *ngFor="let photo of photos, let i= index" (click)="changeProfilePhoto(i)"
                (mouseover)="profilePhotoHover=true" (mouseout)="profilePhotoHover=false">

                <div class="profile-photo-container">
                    <div class="profile-photo-to-choose" [style.background-image]="'url(' + photo.src + ')'"
                        [ngClass]="{'locked': isPhotoLocked(i)}">
                    </div>
                    <div class="price">
                        {{(getLocked(i))}}
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="change-name-modal" *ngIf="changeNameModal">
        <div class="change-name-wrapper">
            <div class="upper-wrapper">
                <input type="text" maxlength="12" [(ngModel)]="newName">
            </div>
            <div class="bottom-wrapper">
                <div class="cancel-button button" (click)="changeNameModal=false">CANCEL</div>
                <div class="ok-button button" (click)="changeName()">OK</div>
            </div>
        </div>


    </div>



</div>