// .container {
//     display: grid;
//     grid-template-rows: 2fr 12fr 1fr;
//     height: 100vh;

// }

// .header {
//     grid-row: 1/2;
// }

// .main {
//     grid-row: 2/3;
// }

// .footer {
//     grid-row: 3/4;
// }

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.main {
    flex: 1 0 auto;
}

.footer {}